body{
    font-family: sans-serif;
}
a{
   color: white;
   text-decoration: none; 
}

header{
    display: flex;
    background-color: rgb(11, 11, 11);
}

.logo{
    display: flex;
}

.logo img{
    height: 50px;
}